* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.item1 {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    height: 350px;
    width: 150px;
    display: flex;
    align-items: center;
}
.item2 {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
}
.item3 {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    display: flex;
    align-items: center;
}
.item4 {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    height: 125px;
    width: 150px;
    display: flex;
    align-items: center;
}
.item5 {
    border: 1px solid blue;
    padding: 10px;
    margin: 10px;
    height: 300px;
    width: 150px;
    display: flex;
    align-items: center;
}